.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-card {
  width: 250px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  background: #f9f9f9;
}

.poster {
  width: 10%;
  border-radius: 5px;
}
